@import "styles/mixin.module.scss";

.header {
  color: white;
  background-color: transparent;
  margin-bottom: -80px;
  z-index: 1;
  position: relative;
}

.container {
  @include container-width;
  height: 80%;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
}

.logo {
  fill: white;
  width: 30px;
  height: 30px;
}
